# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional large files
*.csv
*.pdf
*.zip
